@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

:root{
  --main-red:#E86060;
  --red-secondary:#EB5757;
  --light-red:#FF7676;
  --dark-red:#662323;
  --light-gray:#BDBDBD;
  --gray:#828282
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
  transition: all 0.15s;
  text-decoration: none;
  outline: none;
}

